{% extends "base.html" %}
{% block title %}用户信息{% endblock %}
{% block body %}

    <div class="row text-center vertical-middle-sm">
        <h1>我的信息</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 text-right"><span>用户名:</span></div>
                    <div class="col-md-8 text-left">{{ user.username }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>邮箱:</span></div>
                    <div class="col-md-8 text-left">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>毕业学校:</span></div>
                    <div class="col-md-8 text-left">{{ user.school }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>职业:</span></div>
                    <div class="col-md-8 text-left">{{ user.profession }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>地址:</span></div>
                    <div class="col-md-8 text-left">{{ user.address }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>个人介绍:</span></div>
                    <div class="col-md-8 text-left">{{ user.aboutme }}</div>
                </div>
                <div class="row" style="float:left ;margin-left:150px">
                    <a href="{% url 'users:user_info_edit' %}">
                        <button class="btn btn-primary btn-lg">编辑我的信息</button>
                    </a>
                </div>
            </div>
            {% load staticfiles %}
            <div style="margin-right:100px">

                {% if user.photo %}
                    <img src="{{ user.photo | striptags }}" class="img-circle" id="my_photo" width="120px"
                         name="user_face">
                {% else %}
                    <img name="user_face" src="{% static 'images/user.jpg' %}" class="img-circle" id="my_photo"
                         width="140px">
                {% endif %}
                <div style="margin-right:3px">
                    {#                    <a href="{% url 'users:upload_image' %}">#}
                    <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">
                        上传头像
                    </button>
                    {#                    </a>#}
                </div>
            </div>
        </div>

        <script type="text/javascript" src='{% static "js/jquery-1.11.1.min.js" %}'></script>
        <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
        <script>
            function upload_image_layer() {
                layer.open({
                    title: "上传头像",
                    area: ['600px', '550px'],
                    type: 2,
                    content: "{% url 'users:upload_image' %}",
                });
            }
        </script>
{% endblock %}